@model TheTjerrs.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mbiemri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mbiemri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passwordi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passwordi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roli)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
