@model IEnumerable<TheTjerrs.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mbiemri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passwordi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roli)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mbiemri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passwordi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roli)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
