@model IEnumerable<TheTjerrs.Models.AnketatEpoll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mosha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gjinia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qyteti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shteti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendvotimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mosha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gjinia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qyteti.QytetiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shteti.ShtetiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendvotimi.NumriVendvotimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona.ZonaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnketaEpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnketaEpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnketaEpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
